<div *ngIf="association" class="h-full bg-base-200 p-10 flex flex-col gap-5">
  <h1 class="flex items-center flex-wrap gap-5">
    <div class="text-5xl flex flex-wrap sm:flex-nowrap gap-3 items-center">
      <div>Association</div>
      <div *ngIf="!edit" class="font-semibold whitespace-nowrap">{{ association.name }}</div>
      <input
        type="text"
        *ngIf="edit"
        placeholder="Name"
        class="input w-full input-lg text-5xl font-semibold"
        [formControl]="name"
      />
    </div>
    <button class="btn btn-primary" (click)="changeEdit(true)" *ngIf="!edit">
      Edit
    </button>
    <button class="btn btn-ghost" (click)="changeEdit(false)" *ngIf="edit">
      Cancel
    </button>
    <button class="btn btn-secondary" (click)="submit()" *ngIf="edit">
      Submit
    </button>
  </h1>
  <div class="text-3xl font-semibold opacity-40">Members</div>
  <table class="table">
    <div *ngIf="association.members.length == 0" class="opacity-50 italic py-3">
      No members
    </div>
    <thead>
      <tr class="[&>th]:bg-secondary">
        <th>Role</th>
        <th>Email</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of association.members">
        <td *ngIf="!edit">{{ member.role }}</td>
        <td *ngIf="edit"><input class="input input-bordered input-primary input-sm" [value]="member.role" (change)="changeRole(member.id, $event)"></td>
        <td>{{ member.email }}</td>
        <td>{{ member.firstname }} {{ member.name }}</td>
        <td class="flex">
          <label
            [for]="member.id"
            class="cursor-pointer h-10 w-10 flex items-center justify-center"
            ><mat-icon>visibility</mat-icon></label
          >
          <input type="checkbox" [id]="member.id" class="modal-toggle" />
          <div class="modal">
            <div class="modal-box relative">
              <label
                [for]="member.id"
                class="btn btn-sm btn-circle absolute right-2 top-2"
                >✕</label
              >
              <app-user-card [user]="member"></app-user-card>
            </div>
          </div>
          <button *ngIf="edit" mat-icon-button (click)="removeUser(member.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <form
    *ngIf="edit"
    class="flex gap-3"
    (ngSubmit)="addMember()"
    [formGroup]="newMember"
  >
    <select
      class="select select-bordered w-full max-w-xs"
      formControlName="name"
    >
      <option value="" [defaultSelected]="true">Choose a user</option>
      <option *ngFor="let user of users">
        {{ user.email }}
      </option>
    </select>
    <input class="input" placeholder="role" type="text" formControlName="role">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="newMember.status == 'DISABLED'"
    >
      Add member
    </button>
  </form>
  <div *ngIf="error">
    <div
      class="alert alert-error shadow-lg absolute bottom-0 w-fit left-0 m-10"
    >
      <div class="cursor-pointer">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          (click)="clearError()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>{{ error }}</span>
      </div>
    </div>
  </div>
</div>
