<div class="h-full relative">
  <div
    class="absolute inset-0 text-[5rem] font-mono font-bold flex items-center justify-center opacity-10 z-0 pointer-events-none select-none  overflow-hidden"
  >
  <span class="-translate-y-[4rem] sm:-translate-y-[6rem] md:-translate-y-[10rem]">
    ERROR
  </span>
  </div>
  <div 
    class="absolute inset-0 text-[10rem] sm:text-[15rem] md:text-[25rem] font-mono font-bold flex items-center justify-center opacity-10 z-0 pointer-events-none select-none  overflow-hidden"
  >
  <span class="translate-y-[3rem]">
    404
  </span>
  </div>
  <div class="hero h-full bg-base-200 z-10">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Oh oh!</h1>
        <p class="py-6">It seems that you are lost.</p>
        <a href="/" class="btn btn-primary">Lead me back home</a>
      </div>
    </div>
  </div>
</div>
