<div class="h-full bg-base-200 p-10 flex flex-col gap-5">
  <h1 class="text-3xl font-semibold opacity-40">Users list</h1>
  <form [formGroup]="search" (ngSubmit)="searchUsers()" class="flex gap-3">
    <input
      type="text"
      class="input w-full max-w-xs"
      formControlName="name"
      placeholder="Search"
    />
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr class="[&>th]:bg-secondary ">
          <th><strong>#</strong></th>
          <th>Email</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="{{isMe(user.id) ? 'active' : ''}}">
          <td class="font-bold">{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.lastname }}{{isMe(user.id) ? ' (me)' : ''}}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.age }}</td>
          <td class="flex items-center">
            <label
              [for]="user.id"
              class="cursor-pointer h-10 w-10 flex items-center justify-center"
              ><mat-icon>visibility</mat-icon></label
            >
            <input type="checkbox" [id]="user.id" class="modal-toggle" />
            <div class="modal">
              <div class="modal-box relative">
                <label
                  [for]="user.id"
                  class="btn btn-sm btn-circle absolute right-2 top-2"
                  >✕</label
                >
                <app-user-card [userid]="user.id"></app-user-card>
              </div>
            </div>
            <button
              class="h-10 w-10 flex items-center justify-center"
              aria-label="delete"
              (click)="deleteUser(user.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
