<div class="min-h-full grow bg-base-200 p-14">
  <form
    [formGroup]="profile"
    class="flex flex-col gap-3"
    (submit)="submit($event)"
  >
    <div class="flex flex-col sm:flex-row gap-5 pb-5">
      <div class="avatar sm:w-fit w-full flex justify-center p-1">
        <div
          class="w-24 rounded-full ring bg-base-100 ring-offset-base-100 ring-offset-2"
        >
          <svg
            width="32"
            height="32"
            viewBox="0 0 24 24"
            class="h-full w-full translate-y-2"
          >
            <path
              fill="currentColor"
              d="M7.39 16.539a8 8 0 1 1 9.221 0l2.083 4.76a.5.5 0 0 1-.459.701H5.765a.5.5 0 0 1-.459-.7l2.083-4.761zm.729-5.569a4.002 4.002 0 0 0 7.762 0l-1.94-.485a2 2 0 0 1-3.882 0l-1.94.485z"
            />
          </svg>
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center -space-y-1 font-semibold"
      >
        <div class="form-control w-full max-w-xs">
          <input
            type="text"
            placeholder="First Name"
            formControlName="firstname"
            class="input input-ghost w-full text-center sm:text-start max-w-xs text-2xl"
          />
        </div>
        <div class="form-control w-full max-w-xs">
          <input
            type="text"
            formControlName="lastname"
            placeholder="Last Name"
            class="input input-ghost w-full text-center sm:text-start max-w-xs text-2xl"
          />
        </div>
      </div>
    </div>
    <div class="form-control w-full max-w-xs -space-y-1 relative">
      <label class="label z-10 opacity-50 font-semibold">
        <span class="label-text px-2">Age</span>
      </label>
      <input
        type="number"
        placeholder="Type here"
        formControlName="age"
        class="input input-ghost input-sm w-full max-w-xs text-lg"
      />
    </div>
    <div class="form-control w-full max-w-xs -space-y-1 relative">
      <label class="label z-10 opacity-50 font-semibold">
        <span class="label-text px-2">Email</span>
      </label>
      <input
        type="text"
        formControlName="email"
        placeholder="Type here"
        class="input input-ghost input-sm w-full max-w-xs text-lg"
      />
    </div>
    <div class="form-control w-full max-w-xs -space-y-1 relative">
      <label class="label z-10 opacity-50 font-semibold">
        <span class="label-text px-2">Password</span>
      </label>
      <input
        type="password"
        placeholder="Type here"
        class="input input-ghost input-sm w-full max-w-xs text-lg"
        value="********"
        readonly
      />
      <details>
        <summary class="px-3 opacity-50 py-2 cursor-pointer">
          Change password
        </summary>
        <div class="border mx-3 p-5 border-black/20 rounded-lg">
          <div class="form-control w-full max-w-xs -space-y-1 relative">
            <label class="label z-10 pt-0 opacity-50 font-semibold">
              <span class="label-text">New password</span>
            </label>
            <input
              type="password"
              autocomplete="new-password"
              placeholder="Type here"
              class="input w-full max-w-xs text-lg"
              formControlName="newpassword"
            />
          </div>
        </div>
      </details>
    </div>

    <button class="pt-5 sm:self-start sm:mx-3">
      <span class="btn btn-primary">Save profile</span>
    </button>
  </form>
  <div *ngIf="state == 'success'">
    <div
      class="alert alert-success shadow-lg absolute bottom-0 w-fit left-0 m-10"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>New identity saved!</span>
      </div>
    </div>
  </div>
  <div *ngIf="state == 'error'">
    <div
      class="alert alert-error shadow-lg absolute bottom-0 w-fit left-0 m-10"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          (click)="closeErrorMessage()"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <span>{{ errorMessage }}</span>
      </div>
    </div>
  </div>
</div>
